# Python
.venv/
__pycache__/
*.py[cod]

# IDE / OS
.vscode/
.idea/
.DS_Store

# Generated data
/datasets

# Generated raw experiment results
results/raw/

# Jupyter
.ipynb_checkpoints/

# Python packaging
*.egg-info/
